Options -Indexes

RewriteEngine On
RewriteBase /

# Jika file atau direktori fisik memang ada, langsung buka
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Alihkan sisa request ke index.php
RewriteRule ^(.*)$ index.php [L,QSA]